<h1>New User! Yay! $$$$$</h1>

<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :username %><br/>
    <%= f.text_field :username,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br/>
    <%= f.password_field :password,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    Or <%= link_to "Sign in", sign_in_path %>
  </div>

<% end %>
